<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <!--<title> Responsiive Admin Dashboard | CodingLab </title>-->
    <link rel="stylesheet" href="../admin_dashboard.css">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>

<body>
    <div class="sidebar">
        <a href="/">
            <div class="logo-details">
                <i class='bx bxs-home-smile'></i>
                <span class="logo_name">GOG</span>
            </div>
        </a>
        <ul class="nav-links">
            <li>
                <a href="/admin" class="active">
                    <i class='bx bx-grid-alt'></i>
                    <span class="links_name">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/admin/productDetails">
                    <i class='bx bx-box'></i>
                    <span class="links_name">Products</span>
                </a>
            </li>
            <li>
                <a href="/admin">
                    <i class='bx bx-list-ul'></i>
                    <span class="links_name">Order list</span>
                </a>
            </li>
            <li>
                <a href="/admin">
                    <i class='bx bx-book-alt'></i>
                    <span class="links_name">Total orders</span>
                </a>
            </li>
            <li>
                <a href="/admin">
                    <i class='bx bx-pie-chart-alt-2'></i>
                    <span class="links_name">Analytics</span>
                </a>
            </li>
            <li>
                <a href="/admin">
                    <i class='bx bx-user'></i>
                    <span class="links_name">Team</span>
                </a>
            </li>
            <li>
                <a href="/admin">
                    <i class='bx bx-message'></i>
                    <span class="links_name">Messages</span>
                </a>
            </li>
            <li>
                <a href="/admin/userDetails">
                    <i class='bx bx-heart'></i>
                    <span class="links_name">Users</span>
                </a>
            </li>
            <li>
                <a href="/admin">
                    <i class='bx bx-cog'></i>
                    <span class="links_name">Settings</span>
                </a>
            </li>
            <li class="log_out">
                <a href="/admin">
                    <i class='bx bx-log-out'></i>
                    <span class="links_name">Log out</span>
                </a>
            </li>
        </ul>
    </div>
    <section class="home-section">
        <nav>
            <div class="sidebar-button">
                <i class='bx bx-menu sidebarBtn'></i>
                <span class="dashboard">Dashboard</span>
            </div>
            <div class="search-box">
                <input type="text" placeholder="Search...">
                <i class='bx bx-search'></i>
            </div>
            <div class="profile-details">
                <!--<img src="images/profile.jpg" alt="">-->
                <span class="admin_name">User</span>
                <i class='bx bx-chevron-down'></i>
            </div>
        </nav>

        <div class="home-content">
            <div class="overview-boxes">
                <div class="box">
                    <div class="right-side">
                        <div class="box-topic">Total Order</div>
                        <div class="number">1245</div>
                        <div class="indicator">
                            <i class='bx bx-up-arrow-alt'></i>
                            <span class="text">Up from yesterday</span>
                        </div>
                    </div>
                    <i class='bx bx-cart-alt cart'></i>
                </div>
                <div class="box">
                    <div class="right-side">
                        <div class="box-topic">Total Sales</div>
                        <div class="number">879</div>
                        <div class="indicator">
                            <i class='bx bx-up-arrow-alt'></i>
                            <span class="text">Up from yesterday</span>
                        </div>
                    </div>
                    <i class='bx bxs-cart-add cart two'></i>
                </div>
                <div class="box">
                    <div class="right-side">
                        <div class="box-topic">Total Profit</div>
                        <div class="number">INR 5,02,876</div>
                        <div class="indicator">
                            <i class='bx bx-up-arrow-alt'></i>
                            <span class="text">Up from yesterday</span>
                        </div>
                    </div>
                    <i class='bx bx-cart cart three'></i>
                </div>
                <div class="box">
                    <div class="right-side">
                        <div class="box-topic">Total Return</div>
                        <div class="number">11,086</div>
                        <div class="indicator">
                            <i class='bx bx-down-arrow-alt down'></i>
                            <span class="text">Down From Today</span>
                        </div>
                    </div>
                    <i class='bx bxs-cart-download cart four'></i>
                </div>
            </div>

            <h2>Products Details:</h2>
        <br>
        <table cellspacing="0" cellpadding="0" class="table table-hover">
            <tr>
                <th><b>Product Image</b></th>
                <th><b>Productcode</b></th>
                <th><b>Product name</b></th>
                <th><b>Brand</b></th>
                <th><b>Sold</b></th>
                <th><b>Available</b></th>
                <th><b>MRP</b></th>
                <th><b>Current Price</b></th>

            </tr>
            <% data.forEach(product=> { %>
                <tr>
                    <th>
                        <img src="../<%= product.imageURL %>" alt="" width="200px">
                    </th>
                    <th>
                        <%= product.productcode %>
                    </th>
                    <th>
                        <%= product.productname %>
                    </th>
                    <th>
                        <%= product.brand %>
                    </th>
                    <th>
                        <%= product.sold %>
                    </th>
                    <th>
                        <%= product.stock %>
                    </th>
                    <th>
                        <%= product.mrp %>
                    </th>
                    <th>
                        <%= product.currentprice %>
                    </th>
                    <th>
                        <a href="/admin/deleteProduct/<%= product.productcode %>">
                            <center><button name="delete" type="submit">Delete</center>
                        </a>
                    </th>
                </tr>
                <% }) %>

        </table>
            
        </div>
    </section>

    <script>
        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".sidebarBtn");
        sidebarBtn.onclick = function () {
            sidebar.classList.toggle("active");
            if (sidebar.classList.contains("active")) {
                sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
            } else
                sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
        }
    </script>

</body>

</html>